@model IEnumerable<WebApplicationCRUDDemo.Data.UserTable>
@{
    ViewBag.Title = "GetAllUsers";
}

<h2>GetAllUsers</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>UName</th>
        <th>Email</th>
        <th>PNum</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UName</td>
            <td>@item.Email</td>
            <td>@item.PNum</td>
            <td>@Html.ActionLink("Add", "AddNewUser", new { id = item.Id })</td>
            <td>@Html.ActionLink("Edit", "EditRecord", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "DeleteRecord", new { id = item.Id })</td>

        </tr>
    }

</table>

